/* Add application styles & imports to this file! */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body{
  font-family: 'Roboto', sans-serif;
}

p{
  line-height: 1.5em;
  font-size: 18px;
}